[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui-wrapper/imgui"]
	path = imgui-wrapper/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
